/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}



/* Main content styles */
.main-content {
    margin-left: 270px;
    padding: 20px;
}

header {
    background-color: #006400;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

table tr:hover {
    background-color: #f1f1f1;
}

.status {
    font-weight: bold;
}

.status.en_attente {
    color: orange;
}

.status.en_cours {
    color: blue;
}

.status.terminé {
    color: green;
}

.btn-edit {
    padding: 8px 12px;
    background-color: #006400;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit:hover {
    background-color: #004d00;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Barre de navigation latérale */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #1c2431;
    padding-top: 80px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color:  white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}