/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #f4f6f9;
    color: #333;
}

header {
    background-color: #0fc80f8f;
    color: white;
    font-weight: bolder;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.sidebar-header{
    position: relative;
    bottom: 50px;
    left: 40px;
    color: white;
}

header p {
    font-size: 1.5rem;
    font-weight: 300;
    font-weight: bolder;
}

/* Barre de navigation latérale */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #1c2431;
    padding-top: 80px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color:  white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

/* Contenu principal */
.main-content {
    margin-left: 240px;
    padding: 40px 20px;
}

.dashboard-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.2s ease-in-out;
    border-left: 6px solid #1e90ff;
}

.card:hover {
    transform: scale(1.02);
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 0.95rem;
    color: #666;
}

/* Pied de page */
footer {
    margin-left: 240px;
    padding: 20px;
    text-align: center;
    color: #999;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        padding: 20px;
    }

    footer {
        margin-left: 0;
    }
}
