/* Style général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

header h1 i {
    margin-right: 10px;
}

/* Mise en page du tableau de bord */
.container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}

/* Cartes pour les graphiques */
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 20px 0;
    padding: 20px;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
}

.card-header i {
    margin-right: 10px;
    color: #4caf50;
}

.card-body {
    padding-top: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

/* Boutons d'exportation */
.btn-export {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-export:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-export i {
    margin-right: 8px;
}


/* Boutons d'exportation */
.btn-export {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-export:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-export i {
    margin-right: 8px;
}

.btn-retour {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #388e3c;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-retour:hover {
    background-color: #2e7d32;
}
